@import "./mixins";
@import "./variables";

.about-content {
  font-size: 1em;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  margin-bottom: 23%;
  background: linear-gradient(
    340deg,
    rgba(175, 158, 47, 1) 24%,
    rgba(129, 129, 129, 1) 57%,
    rgba(0, 0, 0, 1) 100%
  );

  text-align: center;
  height: 110%;
  border-radius: 10px;
  width: 80%;

  hr {
    border: 1px solid white;
  }
}

#about-text {
  font-size: 2em;
  color: white;
  text-align: center;
  margin-top: 5vh;
  color: $yellowColor;
}

#about-text-border {
  border-top: 3px $redColor solid;
  border-bottom: 3px $redColor solid;
}

@media (min-width: $mediumDeviceWidth) {
  .about-content {
    font-size: 2em;
  }
}
