@import "./mixins";
@import "./variables";

.contact-content {
  font-size: 2em;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  margin-bottom: 20%;
  background: linear-gradient(
    340deg,
    rgba(175, 158, 47, 1) 24%,
    rgba(129, 129, 129, 1) 57%,
    rgba(0, 0, 0, 1) 100%
  );

  text-align: center;
  height: 110%;
  border-radius: 10px;
  width: 80%;
}

#contact-text {
  font-size: 2em;
  color: white;
  text-align: center;
  margin-top: 5vh;
  color: $yellowColor;
}

#contact-text-border {
  border-top: 3px $redColor solid;
  border-bottom: 3px $redColor solid;
}

#tgs-map {
  position: relative;
  width: 80%;
  height: 500px;
  overflow: hidden;
  background: none !important;
}

@media (min-width: 1800px) {
  .contact-content {
    margin-bottom: 10%;
  }
}
